@media screen and (max-width: 767px) {
  #wallet {
    display: none;
  }

  #graph {
    height: 30vh;
  }
} 
.w-100 {
  font-size: calc(5px + 1vw);
}

@media screen and (max-width: 575px) {
  .w-100 {
    font-size: 1em;
  }

}