.navbar {
  color: white;
  list-style-type: none;
  height: 4rem;
  width: 100%;
}
.navparent {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-left-parent {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */

}
.navbar .navbar-brand {
  font-weight: bold;
  color: white;
  font-size: 2rem;
}
.navbar .nav-link:hover {
  background-color: orangered;
  color: white;
  height: 100%;
  font-weight: bold;
  /* font-style: italic; */
  border-bottom: 0.3rem solid orangered;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  /* padding: 0.5rem;
  margin: 0 0.5rem; */
}

.nav-item .nav-link {
  text-decoration: none;
  margin-right: 10px;
}

.nav-link {
  font-size: 1.5rem;
  color: white;

}
.logo {
  /* object-fit: cover; */
  height: 4rem;
  width: auto;
  color: aliceblue;
  margin-right: 10px;
}

.navbar li a:hover {
  border-bottom: solid;
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    text-align: center;
  }
}